header {
  background-color: #2196f3;
  padding: 15px;
  text-align: center;
}

.usd {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  padding: 15px 0 15px 15px;
}



.eur {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  padding: 15px 0 15px 15px;
  margin-left: 100px;
}



.uah {
  color: rgba(207, 190, 190, 0.885);
  text-decoration: none;
  font-size: 30px;
  padding: 5px;
  margin-right: 10px;
  opacity: 0.5;

}

.uah_rate {
  color: rgb(201, 221, 21);
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;

}